<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lora:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Harpro</title>
    <link rel="icon" href="../icons/lightning.png" />
  </head>
  <body>
    <div">
      <header
        class="
          flex
          mx-24
          place-items-center
          flex-row
          mt-8
          rounded-full
          pb-3
          bg-transparent
        "
      >
        <div>
          <div
            class="
              basis-1/4
              font-font1 font-semibold
              text-5xl
              underline underline-offset-4
              decoration-lime-400
            "
          >
            Protection Maintenance
          </div>
        </div>
        <div class="ml-auto">
          <nav>
            <ul
              class="
                grid grid-cols-4
                place-items-center
                font-font1
                text-2xl
                capitalize
              "
            >
              <li class="underline underline-offset-2 decoration-cyan-400">
                home
              </li>
              <li class="underline underline-offset-2 decoration-indigo-400">
                aplication
              </li>
              <li class="underline underline-offset-2 decoration-fuchsia-400">
                form
              </li>
              <li class="underline underline-offset-2 decoration-rose-400">
                contact me!
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
    <%- body %>
     <!-- footer -->
     <footer
     class="text-gray-600 body-font fixed inset-x-0 bottom-0 mx-24">
     <div
       class="
         container
         py-8
         mx-auto
         flex
         items-center
         sm:flex-row
         flex-col
       "

     >
       <p
         class="
           text-sm text-gray-500
           sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0
           mt-4
         "
       >
         © 2021 Muhammad Muflih Nurfaizi —
         <a
           href="https://twitter.com/MuflihNurfaizi"
           class="text-gray-600 ml-1"
           rel="noopener noreferrer"
           target="_blank"
           >@MuflihNurfaizi</a
         >
       </p>
       <span
         class="
           inline-flex
           sm:ml-auto sm:mt-0
           mt-4
           justify-center
           sm:justify-start
         "
       >
         <a class="ml-3 text-gray-500" href="https://twitter.com/MuflihNurfaizi">
           <svg
             fill="currentColor"
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             class="w-5 h-5"
             viewBox="0 0 24 24"
           >
             <path
               d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
             ></path>
           </svg>
         </a>
       </span>
     </div>
   </footer>
   <!-- end footer -->
  </body>
</html>
